body
{
	color: #bbbfff;
	background-color: #fffbbb;
	border: 18px #00ffff ridge;
	border-width: medium;
	margin: 24px;
	padding: 24px;
}
.buttonoff
{
	border: red 3px outset;
	background-color: #000000;
	color: #bfff00;
	padding: 4px;
	width: 72px;
	text-align: center;
}
.buttonon
{
	border: red 3px inset;
	background-color: #333333;
	color: #ffdab9;
	padding: 4x;
	width: 72px;
	text-align: center;
}