@model Five.Models.Spartan

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Joining Oasis</title>
</head>
<body>
    <form asp-action="JoinOasis" method="post">
        <div asp-validation-summary="All"></div>
    <p>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" />
    </p>
    <p>
        <label asp-for="Height">Height:</label>
        <input asp-for="Height" />
    </p>
    <p>
        <label asp-for="Weight">Weight:</label>
        <input asp-for="Weight" />
    </p>
    <p>
        <label asp-for="Gender">Gender:</label>
        <input asp-for="Gender" />
    </p>
    <button type="submit">Submit</button>
</form>
</body>
</html>
