@model IEnumerable<Five.Models.Person>
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fireteam Oasis</title>
</head>
<body>
    <table>
        <thead>
            <tr><td>Name</td><td>Height</td><td>Weight</td><td>Gender</td></tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Height</td>
                    <td>@p.Weight</td>
                    <td>@p.Gender</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>