@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fireteam Oasis</title>
</head>
<body>
    <div>
        <p>
            Welcome To Fireteam Oasis
        </p>
        <a asp-action="JoinOasis">Join</a>
        <a asp-action="Roster">Roster</a>
    </div>
</body>
</html>